body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffdddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  color: #444;
  transition: border-color 0.3s ease;
}

textarea {
  resize: vertical;
  height: 150px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

input[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 250px;
  margin: 0 auto; /* Center the button horizontally within the container */
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.invite-btn {
  background-color: #0056b3;
}
