body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffdddd;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.topic-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topic-list li {
  cursor: pointer;
  padding: 12px 24px;
  background-color: black;
  color: #fff;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.topic-list li:hover {
  background-color: #0056b3;
}

.choose {
  text-align: center;
  color: #333;
}

.container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Apply styles to the "Retry Quiz" and "Save Results" buttons */
button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Add some spacing between the buttons */
}

button:hover {
  background-color: #0056b3;
}
